body {
  background: gold;
  margin: 0;
}

.link {
  color: green;
}

.link:hover {
  color: gray;
}

.header {
  background: lightseagreen;
  padding: 10px;
  border-bottom: 1px solid gray;
  text-align: center;
}
  
.main {
  margin: 0 auto;
  width: 1000px;
}

.img-wrapper {
  background-color: gainsboro;
  padding: 15px;
  display:block;
  margin:auto;
}
 
.title {
  color: gray;
  text-align: center;
}

.subtitle {
  border-left: 7px solid blue;
  padding-left: 10px;
  color: gray;
  margin-top: 40px;
}

.footer {
  background: lightseagreen;
  border: 3px solid rgb(128, 128, 128);
  text-align: center;
  color: gray;
}