body {
  margin: 0;
    background: gold;
}

.link {
  color: green;
}

.link:hover {
  color: gray;
}

.header {
  font-family: 'Fira Sans Condensed', sans-serif;
  background: lightseagreen;
  padding: 10px;
  border-bottom: 1px solid gray;
  text-align: center;
}
  
.main {
  font-family: 'Alice', serif;
  margin: 0 auto;
  width: 1000px;
}

.img-wrapper {
  background-color: gainsboro;
  padding: 15px;
  display:block;
  margin:auto;
}
 
.title {
  font-family: 'Pacifico', sans-serif;
  color: gray;
  text-align: center;
}

.subtitle {
  border-left: 7px solid blue;
  padding-left: 10px;
  color: gray;
  margin-top: 40px;
}

.contacts-item {
  display: flex;
  align-items: center;
}

.contacts-icons {
  margin-right: 24px;
}

.footer {
  font-family: 'Fira Sans Condensed', sans-serif;
  background: lightseagreen;
  border: 2px solid rgb(158, 146, 146);
  padding: 16px;
  text-align: center;
  color: gray;
}

 /* @font-face {
  src: url('../fonts/Lobster-Regular.ttf');
  font-family: "Lobster"; 
}*/
